/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.text-shadow {
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
